<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>sources/normalize.py</title>
<link rel="stylesheet" href="../../assets/kit.css">
</head>
<body>
<main>
<header class="fileheader"><div class="kind">Project document</div><h1>sources/normalize.py</h1><div class="filenav"><a href="../../index.html">&larr; Report</a><a href="../../sources/normalize.py">Raw file</a></div></header>
<article class="doc"><pre># -*- coding: utf-8 -*-
from html.parser import HTMLParser
from urllib.parse import quote, unquote

try:
    from html.parser import HTMLParseError
except ImportError:
    # HTMLParseError was removed in Python 3.5. It could never be
    # thrown, so we define a placeholder instead.
    class HTMLParseError(Exception):
        pass

from html.entities import name2codepoint
import sys
import re
import html

# Normalization code, adapted from
# https://github.com/karlcow/markdown-testsuite/
significant_attrs = [&quot;alt&quot;, &quot;href&quot;, &quot;src&quot;, &quot;title&quot;]
whitespace_re = re.compile(r&quot;\s+&quot;)
class MyHTMLParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.convert_charrefs = False
        self.last = &quot;starttag&quot;
        self.in_pre = False
        self.output = &quot;&quot;
        self.last_tag = &quot;&quot;
    def handle_data(self, data):
        after_tag = self.last == &quot;endtag&quot; or self.last == &quot;starttag&quot;
        after_block_tag = after_tag and self.is_block_tag(self.last_tag)
        if after_tag and self.last_tag == &quot;br&quot;:
            data = data.lstrip(&#x27;\n&#x27;)
        if not self.in_pre:
            data = whitespace_re.sub(&#x27; &#x27;, data)
        if after_block_tag and not self.in_pre:
            if self.last == &quot;starttag&quot;:
                data = data.lstrip()
            elif self.last == &quot;endtag&quot;:
                data = data.strip()
        self.output += data
        self.last = &quot;data&quot;
    def handle_endtag(self, tag):
        if tag == &quot;pre&quot;:
            self.in_pre = False
        elif self.is_block_tag(tag):
            self.output = self.output.rstrip()
        self.output += &quot;&lt;/&quot; + tag + &quot;&gt;&quot;
        self.last_tag = tag
        self.last = &quot;endtag&quot;
    def handle_starttag(self, tag, attrs):
        if tag == &quot;pre&quot;:
            self.in_pre = True
        if self.is_block_tag(tag):
            self.output = self.output.rstrip()
        self.output += &quot;&lt;&quot; + tag
        # For now we don&#x27;t strip out &#x27;extra&#x27; attributes, because of
        # raw HTML test cases.
        # attrs = filter(lambda attr: attr[0] in significant_attrs, attrs)
        if attrs:
            attrs.sort()
            for (k,v) in attrs:
                self.output += &quot; &quot; + k
                if v in [&#x27;href&#x27;,&#x27;src&#x27;]:
                    self.output += (&quot;=&quot; + &#x27;&quot;&#x27; +
                            quote(unquote(v), safe=&#x27;/&#x27;) + &#x27;&quot;&#x27;)
                elif v != None:
                    self.output += (&quot;=&quot; + &#x27;&quot;&#x27; + html.escape(v,quote=True) + &#x27;&quot;&#x27;)
        self.output += &quot;&gt;&quot;
        self.last_tag = tag
        self.last = &quot;starttag&quot;
    def handle_startendtag(self, tag, attrs):
        &quot;&quot;&quot;Ignore closing tag for self-closing &quot;&quot;&quot;
        self.handle_starttag(tag, attrs)
        self.last_tag = tag
        self.last = &quot;endtag&quot;
    def handle_comment(self, data):
        self.output += &#x27;&lt;!--&#x27; + data + &#x27;--&gt;&#x27;
        self.last = &quot;comment&quot;
    def handle_decl(self, data):
        self.output += &#x27;&lt;!&#x27; + data + &#x27;&gt;&#x27;
        self.last = &quot;decl&quot;
    def unknown_decl(self, data):
        self.output += &#x27;&lt;!&#x27; + data + &#x27;&gt;&#x27;
        self.last = &quot;decl&quot;
    def handle_pi(self,data):
        self.output += &#x27;&lt;?&#x27; + data + &#x27;&gt;&#x27;
        self.last = &quot;pi&quot;
    def handle_entityref(self, name):
        try:
            c = chr(name2codepoint[name])
        except KeyError:
            c = None
        self.output_char(c, &#x27;&amp;&#x27; + name + &#x27;;&#x27;)
        self.last = &quot;ref&quot;
    def handle_charref(self, name):
        try:
            if name.startswith(&quot;x&quot;):
                c = chr(int(name[1:], 16))
            else:
                c = chr(int(name))
        except ValueError:
                c = None
        self.output_char(c, &#x27;&amp;&#x27; + name + &#x27;;&#x27;)
        self.last = &quot;ref&quot;
    # Helpers.
    def output_char(self, c, fallback):
        if c == &#x27;&lt;&#x27;:
            self.output += &quot;&amp;lt;&quot;
        elif c == &#x27;&gt;&#x27;:
            self.output += &quot;&amp;gt;&quot;
        elif c == &#x27;&amp;&#x27;:
            self.output += &quot;&amp;amp;&quot;
        elif c == &#x27;&quot;&#x27;:
            self.output += &quot;&amp;quot;&quot;
        elif c == None:
            self.output += fallback
        else:
            self.output += c

    def is_block_tag(self,tag):
        return (tag in [&#x27;article&#x27;, &#x27;header&#x27;, &#x27;aside&#x27;, &#x27;hgroup&#x27;, &#x27;blockquote&#x27;,
            &#x27;hr&#x27;, &#x27;iframe&#x27;, &#x27;body&#x27;, &#x27;li&#x27;, &#x27;map&#x27;, &#x27;button&#x27;, &#x27;object&#x27;, &#x27;canvas&#x27;,
            &#x27;ol&#x27;, &#x27;caption&#x27;, &#x27;output&#x27;, &#x27;col&#x27;, &#x27;p&#x27;, &#x27;colgroup&#x27;, &#x27;pre&#x27;, &#x27;dd&#x27;,
            &#x27;progress&#x27;, &#x27;div&#x27;, &#x27;section&#x27;, &#x27;dl&#x27;, &#x27;table&#x27;, &#x27;td&#x27;, &#x27;dt&#x27;,
            &#x27;tbody&#x27;, &#x27;embed&#x27;, &#x27;textarea&#x27;, &#x27;fieldset&#x27;, &#x27;tfoot&#x27;, &#x27;figcaption&#x27;,
            &#x27;th&#x27;, &#x27;figure&#x27;, &#x27;thead&#x27;, &#x27;footer&#x27;, &#x27;tr&#x27;, &#x27;form&#x27;, &#x27;ul&#x27;,
            &#x27;h1&#x27;, &#x27;h2&#x27;, &#x27;h3&#x27;, &#x27;h4&#x27;, &#x27;h5&#x27;, &#x27;h6&#x27;, &#x27;video&#x27;, &#x27;script&#x27;, &#x27;style&#x27;])

def normalize_html(html):
    r&quot;&quot;&quot;
    Return normalized form of HTML which ignores insignificant output
    differences:

    Multiple inner whitespaces are collapsed to a single space (except
    in pre tags):

        &gt;&gt;&gt; normalize_html(&quot;&lt;p&gt;a  \t b&lt;/p&gt;&quot;)
        &#x27;&lt;p&gt;a b&lt;/p&gt;&#x27;

        &gt;&gt;&gt; normalize_html(&quot;&lt;p&gt;a  \t\nb&lt;/p&gt;&quot;)
        &#x27;&lt;p&gt;a b&lt;/p&gt;&#x27;

    * Whitespace surrounding block-level tags is removed.

        &gt;&gt;&gt; normalize_html(&quot;&lt;p&gt;a  b&lt;/p&gt;&quot;)
        &#x27;&lt;p&gt;a b&lt;/p&gt;&#x27;

        &gt;&gt;&gt; normalize_html(&quot; &lt;p&gt;a  b&lt;/p&gt;&quot;)
        &#x27;&lt;p&gt;a b&lt;/p&gt;&#x27;

        &gt;&gt;&gt; normalize_html(&quot;&lt;p&gt;a  b&lt;/p&gt; &quot;)
        &#x27;&lt;p&gt;a b&lt;/p&gt;&#x27;

        &gt;&gt;&gt; normalize_html(&quot;\n\t&lt;p&gt;\n\t\ta  b\t\t&lt;/p&gt;\n\t&quot;)
        &#x27;&lt;p&gt;a b&lt;/p&gt;&#x27;

        &gt;&gt;&gt; normalize_html(&quot;&lt;i&gt;a  b&lt;/i&gt; &quot;)
        &#x27;&lt;i&gt;a b&lt;/i&gt; &#x27;

    * Self-closing tags are converted to open tags.

        &gt;&gt;&gt; normalize_html(&quot;&lt;br /&gt;&quot;)
        &#x27;&lt;br&gt;&#x27;

    * Attributes are sorted and lowercased.

        &gt;&gt;&gt; normalize_html(&#x27;&lt;a title=&quot;bar&quot; HREF=&quot;foo&quot;&gt;x&lt;/a&gt;&#x27;)
        &#x27;&lt;a href=&quot;foo&quot; title=&quot;bar&quot;&gt;x&lt;/a&gt;&#x27;

    * References are converted to unicode, except that &#x27;&lt;&#x27;, &#x27;&gt;&#x27;, &#x27;&amp;&#x27;, and
      &#x27;&quot;&#x27; are rendered using entities.

        &gt;&gt;&gt; normalize_html(&quot;&amp;forall;&amp;amp;&amp;gt;&amp;lt;&amp;quot;&quot;)
        &#x27;\u2200&amp;amp;&amp;gt;&amp;lt;&amp;quot;&#x27;

    &quot;&quot;&quot;
    html_chunk_re = re.compile(r&quot;(\&lt;!\[CDATA\[.*?\]\]\&gt;|\&lt;[^&gt;]*\&gt;|[^&lt;]+)&quot;)
    try:
        parser = MyHTMLParser()
        # We work around HTMLParser&#x27;s limitations parsing CDATA
        # by breaking the input into chunks and passing CDATA chunks
        # through verbatim.
        for chunk in re.finditer(html_chunk_re, html):
            if chunk.group(0)[:8] == &quot;&lt;![CDATA&quot;:
                parser.output += chunk.group(0)
            else:
                parser.feed(chunk.group(0))
        parser.close()
        return parser.output
    except HTMLParseError as e:
        sys.stderr.write(&quot;Normalization error: &quot; + e.msg + &quot;\n&quot;)
        return html  # on error, return unnormalized HTML
</pre></article>
</main>
</body>
</html>
