<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>sources/toml-v1.0.0.md</title>
<link rel="stylesheet" href="../../assets/kit.css">
</head>
<body>
<main>
<header class="fileheader"><div class="kind">Project document</div><h1>sources/toml-v1.0.0.md</h1><div class="filenav"><a href="../../index.html">&larr; Report</a><a href="../../sources/toml-v1.0.0.md">Raw file</a></div></header>
<article class="doc"><p>!<a href="logos/toml-200.png">TOML Logo</a></p>
<p>TOML v1.0.0 ===========</p>
<p>Tom&#x27;s Obvious, Minimal Language.</p>
<p>By Tom Preston-Werner, Pradyun Gedam, et al.</p>
<p>Objectives</p>
<hr>
<p>TOML aims to be a minimal configuration file format that&#x27;s easy to read due to obvious semantics. TOML is designed to map unambiguously to a hash table. TOML should be easy to parse into data structures in a wide variety of languages.</p>
<p>Table of contents</p>
<hr>
<ul><li><a href="#spec">Spec</a></li><li><a href="#comment">Comment</a></li><li><a href="#keyvalue-pair">Key/Value Pair</a></li><li><a href="#keys">Keys</a></li><li><a href="#string">String</a></li><li><a href="#integer">Integer</a></li><li><a href="#float">Float</a></li><li><a href="#boolean">Boolean</a></li><li><a href="#offset-date-time">Offset Date-Time</a></li><li><a href="#local-date-time">Local Date-Time</a></li><li><a href="#local-date">Local Date</a></li><li><a href="#local-time">Local Time</a></li><li><a href="#array">Array</a></li><li><a href="#table">Table</a></li><li><a href="#inline-table">Inline Table</a></li><li><a href="#array-of-tables">Array of Tables</a></li><li><a href="#filename-extension">Filename Extension</a></li><li><a href="#mime-type">MIME Type</a></li><li><a href="#abnf-grammar">ABNF Grammar</a></li></ul>
<p>Spec</p>
<hr>
<ul><li>TOML is case-sensitive.</li><li>A TOML file must be a valid UTF-8 encoded Unicode document.</li><li>Whitespace means tab (0x09) or space (0x20).</li><li>Newline means LF (0x0A) or CRLF (0x0D 0x0A).</li></ul>
<p>Comment</p>
<hr>
<p>A hash symbol marks the rest of the line as a comment, except when inside a string.</p>
<pre><code># This is a full-line comment
key = &quot;value&quot;  # This is a comment at the end of a line
another = &quot;# This is not a comment&quot;</code></pre>
<p>Control characters other than tab (U+0000 to U+0008, U+000A to U+001F, U+007F) are not permitted in comments.</p>
<p>Key/Value Pair</p>
<hr>
<p>The primary building block of a TOML document is the key/value pair.</p>
<p>Keys are on the left of the equals sign and values are on the right. Whitespace is ignored around key names and values. The key, equals sign, and value must be on the same line (though some values can be broken over multiple lines).</p>
<pre><code>key = &quot;value&quot;</code></pre>
<p>Values must have one of the following types.</p>
<ul><li><a href="#string">String</a></li><li><a href="#integer">Integer</a></li><li><a href="#float">Float</a></li><li><a href="#boolean">Boolean</a></li><li><a href="#offset-date-time">Offset Date-Time</a></li><li><a href="#local-date-time">Local Date-Time</a></li><li><a href="#local-date">Local Date</a></li><li><a href="#local-time">Local Time</a></li><li><a href="#array">Array</a></li><li><a href="#inline-table">Inline Table</a></li></ul>
<p>Unspecified values are invalid.</p>
<pre><code>key = # INVALID</code></pre>
<p>There must be a newline (or EOF) after a key/value pair. (See <a href="#inline-table">Inline Table</a> for exceptions.)</p>
<pre><code>first = &quot;Tom&quot; last = &quot;Preston-Werner&quot; # INVALID</code></pre>
<p>Keys</p>
<hr>
<p>A key may be either bare, quoted, or dotted.</p>
<p><strong>Bare keys</strong> may only contain ASCII letters, ASCII digits, underscores, and dashes (<code>A-Za-z0-9_-</code>). Note that bare keys are allowed to be composed of only ASCII digits, e.g. <code>1234</code>, but are always interpreted as strings.</p>
<pre><code>key = &quot;value&quot;
bare_key = &quot;value&quot;
bare-key = &quot;value&quot;
1234 = &quot;value&quot;</code></pre>
<p><strong>Quoted keys</strong> follow the exact same rules as either basic strings or literal strings and allow you to use a much broader set of key names. Best practice is to use bare keys except when absolutely necessary.</p>
<pre><code>&quot;127.0.0.1&quot; = &quot;value&quot;
&quot;character encoding&quot; = &quot;value&quot;
&quot;ʎǝʞ&quot; = &quot;value&quot;
&#x27;key2&#x27; = &quot;value&quot;
&#x27;quoted &quot;value&quot;&#x27; = &quot;value&quot;</code></pre>
<p>A bare key must be non-empty, but an empty quoted key is allowed (though discouraged).</p>
<pre><code>= &quot;no key name&quot;  # INVALID
&quot;&quot; = &quot;blank&quot;     # VALID but discouraged
&#x27;&#x27; = &#x27;blank&#x27;     # VALID but discouraged</code></pre>
<p><strong>Dotted keys</strong> are a sequence of bare or quoted keys joined with a dot. This allows for grouping similar properties together:</p>
<pre><code>name = &quot;Orange&quot;
physical.color = &quot;orange&quot;
physical.shape = &quot;round&quot;
site.&quot;google.com&quot; = true</code></pre>
<p>In JSON land, that would give you the following structure:</p>
<pre><code>{
  &quot;name&quot;: &quot;Orange&quot;,
  &quot;physical&quot;: {
    &quot;color&quot;: &quot;orange&quot;,
    &quot;shape&quot;: &quot;round&quot;
  },
  &quot;site&quot;: {
    &quot;google.com&quot;: true
  }
}</code></pre>
<p>For details regarding the tables that dotted keys define, refer to the <a href="#table">Table</a> section below.</p>
<p>Whitespace around dot-separated parts is ignored. However, best practice is to not use any extraneous whitespace.</p>
<pre><code>fruit.name = &quot;banana&quot;     # this is best practice
fruit. color = &quot;yellow&quot;    # same as fruit.color
fruit . flavor = &quot;banana&quot;   # same as fruit.flavor</code></pre>
<p>Indentation is treated as whitespace and ignored.</p>
<p>Defining a key multiple times is invalid.</p>
<pre><code># DO NOT DO THIS
name = &quot;Tom&quot;
name = &quot;Pradyun&quot;</code></pre>
<p>Note that bare keys and quoted keys are equivalent:</p>
<pre><code># THIS WILL NOT WORK
spelling = &quot;favorite&quot;
&quot;spelling&quot; = &quot;favourite&quot;</code></pre>
<p>As long as a key hasn&#x27;t been directly defined, you may still write to it and to names within it.</p>
<pre><code># This makes the key &quot;fruit&quot; into a table.
fruit.apple.smooth = true

# So then you can add to the table &quot;fruit&quot; like so:
fruit.orange = 2</code></pre>
<pre><code># THE FOLLOWING IS INVALID

# This defines the value of fruit.apple to be an integer.
fruit.apple = 1

# But then this treats fruit.apple like it&#x27;s a table.
# You can&#x27;t turn an integer into a table.
fruit.apple.smooth = true</code></pre>
<p>Defining dotted keys out-of-order is discouraged.</p>
<pre><code># VALID BUT DISCOURAGED

apple.type = &quot;fruit&quot;
orange.type = &quot;fruit&quot;

apple.skin = &quot;thin&quot;
orange.skin = &quot;thick&quot;

apple.color = &quot;red&quot;
orange.color = &quot;orange&quot;</code></pre>
<pre><code># RECOMMENDED

apple.type = &quot;fruit&quot;
apple.skin = &quot;thin&quot;
apple.color = &quot;red&quot;

orange.type = &quot;fruit&quot;
orange.skin = &quot;thick&quot;
orange.color = &quot;orange&quot;</code></pre>
<p>Since bare keys can be composed of only ASCII integers, it is possible to write dotted keys that look like floats but are 2-part dotted keys. Don&#x27;t do this unless you have a good reason to (you probably don&#x27;t).</p>
<pre><code>3.14159 = &quot;pi&quot;</code></pre>
<p>The above TOML maps to the following JSON.</p>
<pre><code>{ &quot;3&quot;: { &quot;14159&quot;: &quot;pi&quot; } }</code></pre>
<p>String</p>
<hr>
<p>There are four ways to express strings: basic, multi-line basic, literal, and multi-line literal. All strings must contain only valid UTF-8 characters.</p>
<p><strong>Basic strings</strong> are surrounded by quotation marks (<code>&quot;</code>). Any Unicode character may be used except those that must be escaped: quotation mark, backslash, and the control characters other than tab (U+0000 to U+0008, U+000A to U+001F, U+007F).</p>
<pre><code>str = &quot;I&#x27;m a string. \&quot;You can quote me\&quot;. Name\tJos\u00E9\nLocation\tSF.&quot;</code></pre>
<p>For convenience, some popular characters have a compact escape sequence.</p>
<pre><code>\b         - backspace       (U+0008)
\t         - tab             (U+0009)
\n         - linefeed        (U+000A)
\f         - form feed       (U+000C)
\r         - carriage return (U+000D)
\&quot;         - quote           (U+0022)
\\         - backslash       (U+005C)
\uXXXX     - unicode         (U+XXXX)
\UXXXXXXXX - unicode         (U+XXXXXXXX)</code></pre>
<p>Any Unicode character may be escaped with the <code>\uXXXX</code> or <code>\UXXXXXXXX</code> forms. The escape codes must be valid Unicode <a href="https://unicode.org/glossary/#unicode_scalar_value">scalar values</a>.</p>
<p>All other escape sequences not listed above are reserved; if they are used, TOML should produce an error.</p>
<p>Sometimes you need to express passages of text (e.g. translation files) or would like to break up a very long string into multiple lines. TOML makes this easy.</p>
<p><strong>Multi-line basic strings</strong> are surrounded by three quotation marks on each side and allow newlines. A newline immediately following the opening delimiter will be trimmed. All other whitespace and newline characters remain intact.</p>
<pre><code>str1 = &quot;&quot;&quot;
Roses are red
Violets are blue&quot;&quot;&quot;</code></pre>
<p>TOML parsers should feel free to normalize newline to whatever makes sense for their platform.</p>
<pre><code># On a Unix system, the above multi-line string will most likely be the same as:
str2 = &quot;Roses are red\nViolets are blue&quot;

# On a Windows system, it will most likely be equivalent to:
str3 = &quot;Roses are red\r\nViolets are blue&quot;</code></pre>
<p>For writing long strings without introducing extraneous whitespace, use a &quot;line ending backslash&quot;. When the last non-whitespace character on a line is an unescaped <code>\</code>, it will be trimmed along with all whitespace (including newlines) up to the next non-whitespace character or closing delimiter. All of the escape sequences that are valid for basic strings are also valid for multi-line basic strings.</p>
<pre><code># The following strings are byte-for-byte equivalent:
str1 = &quot;The quick brown fox jumps over the lazy dog.&quot;

str2 = &quot;&quot;&quot;
The quick brown \


  fox jumps over \
    the lazy dog.&quot;&quot;&quot;

str3 = &quot;&quot;&quot;\
       The quick brown \
       fox jumps over \
       the lazy dog.\
       &quot;&quot;&quot;</code></pre>
<p>Any Unicode character may be used except those that must be escaped: backslash and the control characters other than tab, line feed, and carriage return (U+0000 to U+0008, U+000B, U+000C, U+000E to U+001F, U+007F).</p>
<p>You can write a quotation mark, or two adjacent quotation marks, anywhere inside a multi-line basic string. They can also be written just inside the delimiters.</p>
<pre><code>str4 = &quot;&quot;&quot;Here are two quotation marks: &quot;&quot;. Simple enough.&quot;&quot;&quot;
# str5 = &quot;&quot;&quot;Here are three quotation marks: &quot;&quot;&quot;.&quot;&quot;&quot;  # INVALID
str5 = &quot;&quot;&quot;Here are three quotation marks: &quot;&quot;\&quot;.&quot;&quot;&quot;
str6 = &quot;&quot;&quot;Here are fifteen quotation marks: &quot;&quot;\&quot;&quot;&quot;\&quot;&quot;&quot;\&quot;&quot;&quot;\&quot;&quot;&quot;\&quot;.&quot;&quot;&quot;

# &quot;This,&quot; she said, &quot;is just a pointless statement.&quot;
str7 = &quot;&quot;&quot;&quot;This,&quot; she said, &quot;is just a pointless statement.&quot;&quot;&quot;&quot;</code></pre>
<p>If you&#x27;re a frequent specifier of Windows paths or regular expressions, then having to escape backslashes quickly becomes tedious and error-prone. To help, TOML supports literal strings which do not allow escaping at all.</p>
<p><strong>Literal strings</strong> are surrounded by single quotes. Like basic strings, they must appear on a single line:</p>
<pre><code># What you see is what you get.
winpath  = &#x27;C:\Users\nodejs\templates&#x27;
winpath2 = &#x27;\\ServerX\admin$\system32\&#x27;
quoted   = &#x27;Tom &quot;Dubs&quot; Preston-Werner&#x27;
regex    = &#x27;&lt;\i\c*\s*&gt;&#x27;</code></pre>
<p>Since there is no escaping, there is no way to write a single quote inside a literal string enclosed by single quotes. Luckily, TOML supports a multi-line version of literal strings that solves this problem.</p>
<p><strong>Multi-line literal strings</strong> are surrounded by three single quotes on each side and allow newlines. Like literal strings, there is no escaping whatsoever. A newline immediately following the opening delimiter will be trimmed. All other content between the delimiters is interpreted as-is without modification.</p>
<pre><code>regex2 = &#x27;&#x27;&#x27;I [dw]on&#x27;t need \d{2} apples&#x27;&#x27;&#x27;
lines  = &#x27;&#x27;&#x27;
The first newline is
trimmed in raw strings.
   All other whitespace
   is preserved.
&#x27;&#x27;&#x27;</code></pre>
<p>You can write 1 or 2 single quotes anywhere within a multi-line literal string, but sequences of three or more single quotes are not permitted.</p>
<pre><code>quot15 = &#x27;&#x27;&#x27;Here are fifteen quotation marks: &quot;&quot;&quot;&quot;&quot;&quot;&quot;&quot;&quot;&quot;&quot;&quot;&quot;&quot;&quot;&#x27;&#x27;&#x27;

# apos15 = &#x27;&#x27;&#x27;Here are fifteen apostrophes: &#x27;&#x27;&#x27;&#x27;&#x27;&#x27;&#x27;&#x27;&#x27;&#x27;&#x27;&#x27;&#x27;&#x27;&#x27;&#x27;&#x27;&#x27;  # INVALID
apos15 = &quot;Here are fifteen apostrophes: &#x27;&#x27;&#x27;&#x27;&#x27;&#x27;&#x27;&#x27;&#x27;&#x27;&#x27;&#x27;&#x27;&#x27;&#x27;&quot;

# &#x27;That,&#x27; she said, &#x27;is still pointless.&#x27;
str = &#x27;&#x27;&#x27;&#x27;That,&#x27; she said, &#x27;is still pointless.&#x27;&#x27;&#x27;&#x27;</code></pre>
<p>Control characters other than tab are not permitted in a literal string. Thus, for binary data, it is recommended that you use Base64 or another suitable ASCII or UTF-8 encoding. The handling of that encoding will be application-specific.</p>
<p>Integer</p>
<hr>
<p>Integers are whole numbers. Positive numbers may be prefixed with a plus sign. Negative numbers are prefixed with a minus sign.</p>
<pre><code>int1 = +99
int2 = 42
int3 = 0
int4 = -17</code></pre>
<p>For large numbers, you may use underscores between digits to enhance readability. Each underscore must be surrounded by at least one digit on each side.</p>
<pre><code>int5 = 1_000
int6 = 5_349_221
int7 = 53_49_221  # Indian number system grouping
int8 = 1_2_3_4_5  # VALID but discouraged</code></pre>
<p>Leading zeros are not allowed. Integer values <code>-0</code> and <code>+0</code> are valid and identical to an unprefixed zero.</p>
<p>Non-negative integer values may also be expressed in hexadecimal, octal, or binary. In these formats, leading <code>+</code> is not allowed and leading zeros are allowed (after the prefix). Hex values are case-insensitive. Underscores are allowed between digits (but not between the prefix and the value).</p>
<pre><code># hexadecimal with prefix `0x`
hex1 = 0xDEADBEEF
hex2 = 0xdeadbeef
hex3 = 0xdead_beef

# octal with prefix `0o`
oct1 = 0o01234567
oct2 = 0o755 # useful for Unix file permissions

# binary with prefix `0b`
bin1 = 0b11010110</code></pre>
<p>Arbitrary 64-bit signed integers (from −2^63 to 2^63−1) should be accepted and handled losslessly. If an integer cannot be represented losslessly, an error must be thrown.</p>
<p>Float</p>
<hr>
<p>Floats should be implemented as IEEE 754 binary64 values.</p>
<p>A float consists of an integer part (which follows the same rules as decimal integer values) followed by a fractional part and/or an exponent part. If both a fractional part and exponent part are present, the fractional part must precede the exponent part.</p>
<pre><code># fractional
flt1 = +1.0
flt2 = 3.1415
flt3 = -0.01

# exponent
flt4 = 5e+22
flt5 = 1e06
flt6 = -2E-2

# both
flt7 = 6.626e-34</code></pre>
<p>A fractional part is a decimal point followed by one or more digits.</p>
<p>An exponent part is an E (upper or lower case) followed by an integer part (which follows the same rules as decimal integer values but may include leading zeros).</p>
<p>The decimal point, if used, must be surrounded by at least one digit on each side.</p>
<pre><code># INVALID FLOATS
invalid_float_1 = .7
invalid_float_2 = 7.
invalid_float_3 = 3.e+20</code></pre>
<p>Similar to integers, you may use underscores to enhance readability. Each underscore must be surrounded by at least one digit.</p>
<pre><code>flt8 = 224_617.445_991_228</code></pre>
<p>Float values <code>-0.0</code> and <code>+0.0</code> are valid and should map according to IEEE 754.</p>
<p>Special float values can also be expressed. They are always lowercase.</p>
<pre><code># infinity
sf1 = inf  # positive infinity
sf2 = +inf # positive infinity
sf3 = -inf # negative infinity

# not a number
sf4 = nan  # actual sNaN/qNaN encoding is implementation-specific
sf5 = +nan # same as `nan`
sf6 = -nan # valid, actual encoding is implementation-specific</code></pre>
<p>Boolean</p>
<hr>
<p>Booleans are just the tokens you&#x27;re used to. Always lowercase.</p>
<pre><code>bool1 = true
bool2 = false</code></pre>
<p>Offset Date-Time</p>
<hr>
<p>To unambiguously represent a specific instant in time, you may use an <a href="https://tools.ietf.org/html/rfc3339">RFC 3339</a> formatted date-time with offset.</p>
<pre><code>odt1 = 1979-05-27T07:32:00Z
odt2 = 1979-05-27T00:32:00-07:00
odt3 = 1979-05-27T00:32:00.999999-07:00</code></pre>
<p>For the sake of readability, you may replace the T delimiter between date and time with a space character (as permitted by RFC 3339 section 5.6).</p>
<pre><code>odt4 = 1979-05-27 07:32:00Z</code></pre>
<p>Millisecond precision is required. Further precision of fractional seconds is implementation-specific. If the value contains greater precision than the implementation can support, the additional precision must be truncated, not rounded.</p>
<p>Local Date-Time</p>
<hr>
<p>If you omit the offset from an <a href="https://tools.ietf.org/html/rfc3339">RFC 3339</a> formatted date-time, it will represent the given date-time without any relation to an offset or timezone. It cannot be converted to an instant in time without additional information. Conversion to an instant, if required, is implementation-specific.</p>
<pre><code>ldt1 = 1979-05-27T07:32:00
ldt2 = 1979-05-27T00:32:00.999999</code></pre>
<p>Millisecond precision is required. Further precision of fractional seconds is implementation-specific. If the value contains greater precision than the implementation can support, the additional precision must be truncated, not rounded.</p>
<p>Local Date</p>
<hr>
<p>If you include only the date portion of an <a href="https://tools.ietf.org/html/rfc3339">RFC 3339</a> formatted date-time, it will represent that entire day without any relation to an offset or timezone.</p>
<pre><code>ld1 = 1979-05-27</code></pre>
<p>Local Time</p>
<hr>
<p>If you include only the time portion of an <a href="https://tools.ietf.org/html/rfc3339">RFC 3339</a> formatted date-time, it will represent that time of day without any relation to a specific day or any offset or timezone.</p>
<pre><code>lt1 = 07:32:00
lt2 = 00:32:00.999999</code></pre>
<p>Millisecond precision is required. Further precision of fractional seconds is implementation-specific. If the value contains greater precision than the implementation can support, the additional precision must be truncated, not rounded.</p>
<p>Array</p>
<hr>
<p>Arrays are square brackets with values inside. Whitespace is ignored. Elements are separated by commas. Arrays can contain values of the same data types as allowed in key/value pairs. Values of different types may be mixed.</p>
<pre><code>integers = [ 1, 2, 3 ]
colors = [ &quot;red&quot;, &quot;yellow&quot;, &quot;green&quot; ]
nested_arrays_of_ints = [ [ 1, 2 ], [3, 4, 5] ]
nested_mixed_array = [ [ 1, 2 ], [&quot;a&quot;, &quot;b&quot;, &quot;c&quot;] ]
string_array = [ &quot;all&quot;, &#x27;strings&#x27;, &quot;&quot;&quot;are the same&quot;&quot;&quot;, &#x27;&#x27;&#x27;type&#x27;&#x27;&#x27; ]

# Mixed-type arrays are allowed
numbers = [ 0.1, 0.2, 0.5, 1, 2, 5 ]
contributors = [
  &quot;Foo Bar &lt;foo@example.com&gt;&quot;,
  { name = &quot;Baz Qux&quot;, email = &quot;bazqux@example.com&quot;, url = &quot;https://example.com/bazqux&quot; }
]</code></pre>
<p>Arrays can span multiple lines. A terminating comma (also called a trailing comma) is permitted after the last value of the array. Any number of newlines and comments may precede values, commas, and the closing bracket. Indentation between array values and commas is treated as whitespace and ignored.</p>
<pre><code>integers2 = [
  1, 2, 3
]

integers3 = [
  1,
  2, # this is ok
]</code></pre>
<p>Table</p>
<hr>
<p>Tables (also known as hash tables or dictionaries) are collections of key/value pairs. They are defined by headers, with square brackets on a line by themselves. You can tell headers apart from arrays because arrays are only ever values.</p>
<pre><code>[table]</code></pre>
<p>Under that, and until the next header or EOF, are the key/values of that table. Key/value pairs within tables are not guaranteed to be in any specific order.</p>
<pre><code>[table-1]
key1 = &quot;some string&quot;
key2 = 123

[table-2]
key1 = &quot;another string&quot;
key2 = 456</code></pre>
<p>Naming rules for tables are the same as for keys (see definition of <a href="#keys">Keys</a> above).</p>
<pre><code>[dog.&quot;tater.man&quot;]
type.name = &quot;pug&quot;</code></pre>
<p>In JSON land, that would give you the following structure:</p>
<pre><code>{ &quot;dog&quot;: { &quot;tater.man&quot;: { &quot;type&quot;: { &quot;name&quot;: &quot;pug&quot; } } } }</code></pre>
<p>Whitespace around the key is ignored. However, best practice is to not use any extraneous whitespace.</p>
<pre><code>[a.b.c]            # this is best practice
[ d.e.f ]          # same as [d.e.f]
[ g .  h  . i ]    # same as [g.h.i]
[ j . &quot;ʞ&quot; . &#x27;l&#x27; ]  # same as [j.&quot;ʞ&quot;.&#x27;l&#x27;]</code></pre>
<p>Indentation is treated as whitespace and ignored.</p>
<p>You don&#x27;t need to specify all the super-tables if you don&#x27;t want to. TOML knows how to do it for you.</p>
<pre><code># [x] you
# [x.y] don&#x27;t
# [x.y.z] need these
[x.y.z.w] # for this to work

[x] # defining a super-table afterward is ok</code></pre>
<p>Empty tables are allowed and simply have no key/value pairs within them.</p>
<p>Like keys, you cannot define a table more than once. Doing so is invalid.</p>
<pre><code># DO NOT DO THIS

[fruit]
apple = &quot;red&quot;

[fruit]
orange = &quot;orange&quot;</code></pre>
<pre><code># DO NOT DO THIS EITHER

[fruit]
apple = &quot;red&quot;

[fruit.apple]
texture = &quot;smooth&quot;</code></pre>
<p>Defining tables out-of-order is discouraged.</p>
<pre><code># VALID BUT DISCOURAGED
[fruit.apple]
[animal]
[fruit.orange]</code></pre>
<pre><code># RECOMMENDED
[fruit.apple]
[fruit.orange]
[animal]</code></pre>
<p>The top-level table, also called the root table, starts at the beginning of the document and ends just before the first table header (or EOF). Unlike other tables, it is nameless and cannot be relocated.</p>
<pre><code># Top-level table begins.
name = &quot;Fido&quot;
breed = &quot;pug&quot;

# Top-level table ends.
[owner]
name = &quot;Regina Dogman&quot;
member_since = 1999-08-04</code></pre>
<p>Dotted keys create and define a table for each key part before the last one, provided that such tables were not previously created.</p>
<pre><code>fruit.apple.color = &quot;red&quot;
# Defines a table named fruit
# Defines a table named fruit.apple

fruit.apple.taste.sweet = true
# Defines a table named fruit.apple.taste
# fruit and fruit.apple were already created</code></pre>
<p>Since tables cannot be defined more than once, redefining such tables using a <code>[table]</code> header is not allowed. Likewise, using dotted keys to redefine tables already defined in <code>[table]</code> form is not allowed. The <code>[table]</code> form can, however, be used to define sub-tables within tables defined via dotted keys.</p>
<pre><code>[fruit]
apple.color = &quot;red&quot;
apple.taste.sweet = true

# [fruit.apple]  # INVALID
# [fruit.apple.taste]  # INVALID

[fruit.apple.texture]  # you can add sub-tables
smooth = true</code></pre>
<p>Inline Table</p>
<hr>
<p>Inline tables provide a more compact syntax for expressing tables. They are especially useful for grouped data that can otherwise quickly become verbose. Inline tables are fully defined within curly braces: <code>{</code> and <code>}</code>. Within the braces, zero or more comma-separated key/value pairs may appear. Key/value pairs take the same form as key/value pairs in standard tables. All value types are allowed, including inline tables.</p>
<p>Inline tables are intended to appear on a single line. A terminating comma (also called trailing comma) is not permitted after the last key/value pair in an inline table. No newlines are allowed between the curly braces unless they are valid within a value. Even so, it is strongly discouraged to break an inline table onto multiples lines. If you find yourself gripped with this desire, it means you should be using standard tables.</p>
<pre><code>name = { first = &quot;Tom&quot;, last = &quot;Preston-Werner&quot; }
point = { x = 1, y = 2 }
animal = { type.name = &quot;pug&quot; }</code></pre>
<p>The inline tables above are identical to the following standard table definitions:</p>
<pre><code>[name]
first = &quot;Tom&quot;
last = &quot;Preston-Werner&quot;

[point]
x = 1
y = 2

[animal]
type.name = &quot;pug&quot;</code></pre>
<p>Inline tables are fully self-contained and define all keys and sub-tables within them. Keys and sub-tables cannot be added outside the braces.</p>
<pre><code>[product]
type = { name = &quot;Nail&quot; }
# type.edible = false  # INVALID</code></pre>
<p>Similarly, inline tables cannot be used to add keys or sub-tables to an already-defined table.</p>
<pre><code>[product]
type.name = &quot;Nail&quot;
# type = { edible = false }  # INVALID</code></pre>
<p>Array of Tables</p>
<hr>
<p>The last syntax that has not yet been described allows writing arrays of tables. These can be expressed by using a header with a name in double brackets. The first instance of that header defines the array and its first table element, and each subsequent instance creates and defines a new table element in that array. The tables are inserted into the array in the order encountered.</p>
<pre><code>[[products]]
name = &quot;Hammer&quot;
sku = 738594937

[[products]]  # empty table within the array

[[products]]
name = &quot;Nail&quot;
sku = 284758393

color = &quot;gray&quot;</code></pre>
<p>In JSON land, that would give you the following structure.</p>
<pre><code>{
  &quot;products&quot;: [
    { &quot;name&quot;: &quot;Hammer&quot;, &quot;sku&quot;: 738594937 },
    { },
    { &quot;name&quot;: &quot;Nail&quot;, &quot;sku&quot;: 284758393, &quot;color&quot;: &quot;gray&quot; }
  ]
}</code></pre>
<p>Any reference to an array of tables points to the most recently defined table element of the array. This allows you to define sub-tables, and even sub-arrays of tables, inside the most recent table.</p>
<pre><code>[[fruits]]
name = &quot;apple&quot;

[fruits.physical]  # subtable
color = &quot;red&quot;
shape = &quot;round&quot;

[[fruits.varieties]]  # nested array of tables
name = &quot;red delicious&quot;

[[fruits.varieties]]
name = &quot;granny smith&quot;


[[fruits]]
name = &quot;banana&quot;

[[fruits.varieties]]
name = &quot;plantain&quot;</code></pre>
<p>The above TOML maps to the following JSON.</p>
<pre><code>{
  &quot;fruits&quot;: [
    {
      &quot;name&quot;: &quot;apple&quot;,
      &quot;physical&quot;: {
        &quot;color&quot;: &quot;red&quot;,
        &quot;shape&quot;: &quot;round&quot;
      },
      &quot;varieties&quot;: [
        { &quot;name&quot;: &quot;red delicious&quot; },
        { &quot;name&quot;: &quot;granny smith&quot; }
      ]
    },
    {
      &quot;name&quot;: &quot;banana&quot;,
      &quot;varieties&quot;: [
        { &quot;name&quot;: &quot;plantain&quot; }
      ]
    }
  ]
}</code></pre>
<p>If the parent of a table or array of tables is an array element, that element must already have been defined before the child can be defined. Attempts to reverse that ordering must produce an error at parse time.</p>
<pre><code># INVALID TOML DOC
[fruit.physical]  # subtable, but to which parent element should it belong?
color = &quot;red&quot;
shape = &quot;round&quot;

[[fruit]]  # parser must throw an error upon discovering that &quot;fruit&quot; is
           # an array rather than a table
name = &quot;apple&quot;</code></pre>
<p>Attempting to append to a statically defined array, even if that array is empty, must produce an error at parse time.</p>
<pre><code># INVALID TOML DOC
fruits = []

[[fruits]] # Not allowed</code></pre>
<p>Attempting to define a normal table with the same name as an already established array must produce an error at parse time. Attempting to redefine a normal table as an array must likewise produce a parse-time error.</p>
<pre><code># INVALID TOML DOC
[[fruits]]
name = &quot;apple&quot;

[[fruits.varieties]]
name = &quot;red delicious&quot;

# INVALID: This table conflicts with the previous array of tables
[fruits.varieties]
name = &quot;granny smith&quot;

[fruits.physical]
color = &quot;red&quot;
shape = &quot;round&quot;

# INVALID: This array of tables conflicts with the previous table
[[fruits.physical]]
color = &quot;green&quot;</code></pre>
<p>You may also use inline tables where appropriate:</p>
<pre><code>points = [ { x = 1, y = 2, z = 3 },
           { x = 7, y = 8, z = 9 },
           { x = 2, y = 4, z = 8 } ]</code></pre>
<p>Filename Extension</p>
<hr>
<p>TOML files should use the extension <code>.toml</code>.</p>
<p>MIME Type</p>
<hr>
<p>When transferring TOML files over the internet, the appropriate MIME type is <code>application/toml</code>.</p>
<p>ABNF Grammar</p>
<hr>
<p>A formal description of TOML&#x27;s syntax is available, as a separate [ABNF file][abnf].</p>
<p>[abnf]: https://github.com/toml-lang/toml/blob/1.0.0/toml.abnf</p></article>
</main>
</body>
</html>
